#content{
    margin:auto;
    border:1px solid peachpuff;
    background-color: peachpuff;
    height:200px;
    width:300px;
}
button{
    background-color: green
}
table,tr,td,th{
    margin:auto;
    border:1px solid black;
}
img{
    height:60px;
    width:60px;
}